* {
	margin: 10px;
	padding: 0px;
}

h1 {
	font: bold 35px Tahoma;
}

h2 {
	font: 20px Tahoma;
}

header, section, footer, aside, nav, article, hgroup {
	dsiplay: yellow;
}

body {
	text-align: center;
}

#bigWrapper {
	border: 3px dashed blue;
	width: 1020px;
	margin: 22%;
	text-align: center;
}

#topHeader {
	color: blue;
	background: yellow;
	padding: 30px;
}

#topMenu {
	background: blue;
	color: yellow;
}

#topMenu li {
	display: inline-block;
	list-style: none;
	padding: 2px;
	font: bold 14px Tahoma;
}

#mainSection {
	float: left;
	width: 500px;
	margin: 15px;
	color: red;
}

#sideNews {
	float: center;
	width: 220px;
	margin: 150px 400px;
	background: yellow;
	color: blue;
	border: 2px solid blue;
}

#pageFooter {
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid blue;
}

article {
	background: yellow;
	color: blue;
	border: 2px solid blue;
	padding: 20px;
	margin-botton: 15px;
}
article > footer {
	text-align: center;
}